@model IEnumerable<GigHub.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}


<h1>Who I Follow</h1>

<main>
    <ul>
        @foreach (var artist in Model)
        {
            <li>@artist.Name</li>
        }
    </ul>
</main>

