@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <ul>
        @foreach (var gig in Model)
            {
                <li>@gig.Date - @gig.Artist.Name</li>
            }
    </ul>
</main>